body {

    background-color: rgba(236,31,39,0.1);
    font-family: ManifoldDSA;
}

h1 {

	font-weight: bold;

}

.nav-link {

  color: white;

}

a {

	color: black;
	text-align: center;

}

.container-fluid {
   max-width:75%;
}

.border-left {

	border-left: 5px solid black; 

}

.twitter-timeline {

	max-height: 500px;

}

#body {

	background-color: white;
	box-shadow: 4px 4px 2px grey;

}

#header {

	margin-left: -15px;

}

#logo {

	margin-right: 30px;

}

#nav {

	margin-right: -30px;
	margin-left: -30px;
	padding-right: 50px;
	padding-left: 50px;
	box-shadow: 4px 4px 2px grey;

}

#main {

	margin-top: 10px;

}


/*LARGE*/
@media (min-width: 992px) {
  /* change this, by default 960px */
  .container {
    max-width: 75%;
    /*max-width: 950px;*/
  }
}

/*MEDIUM*/
@media (max-width: 992px) {
  /* change this, by default 750px */
  .container {
    max-width: 90%;
  }
}

/*MANIFOLD DSA FONT*/

@font-face {
    font-family: ManifoldDSA;
    src: url(fonts/ManifoldDSA-DemiBold.otf);
}

@font-face {
    font-family: ManifoldDSA;
    src: url(fonts/ManifoldDSA-BoldItalic.otf);
    font-style: italic;
    font-weight: bold;
}

@font-face {
    font-family: ManifoldDSA;
    src: url(fonts/ManifoldDSA-Bold.otf);
    font-weight: bold;
}

@font-face {
    font-family: ManifoldDSA;
    src: url(fonts/ManifoldDSA-DemiBoldItalic.otf);
    font-style: italic;
}